TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
RADICALE_URL=https://radicale.pollete.duckdns.org
RADICALE_USERNAME=
RADICALE_PASSWORD=
RADICALE_CALENDAR_NAME=Turnos
RADICALE_TASKS_CALENDAR_NAME=Tareas
DB_PATH=/app/data/comidas.db
WEEKLY_JOB_DAY=SUN
WEEKLY_JOB_TIME=20:00
TZ=Europe/Madrid
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash
